<!-- Mission file for GADEN filament simulator 
    ROS - KINETIC
-->

<launch>
    <arg name="scenario" default="10x6_maze" />
    <arg name="simulation" default="05ms" />
    <arg name="source_location_x" default="0.50" />
    <arg name="source_location_y" default="3.00" />
    <arg name="source_location_z" default="0.50" />
    
    ### NODE environment (for RVIZ visualization) ###
    <node pkg="gaden_environment" type="environment" name="environment" output="screen">
        <param name="verbose" value="false"/>
        <param name="wait_preprocessing" value="false"/>    	  ### wait for the ok from gaden_preprocessing before running
        <param name="fixed_frame" value="map"/>

        # Plot CAD models (Collada format .dae)
	    <param name="number_of_CAD" value="3"/>
	    <rosparam subst_value="True">
            CAD_0: package://test_env/$(arg scenario)/cad_models/10x6_walls.dae
            CAD_0_color: [0.92, 0.96, 0.96]
            
            CAD_1: package://test_env/$(arg scenario)/cad_models/10x6_door_left.dae
            CAD_1_color: [0.96, 0.17, 0.3]
            
            CAD_2: package://test_env/$(arg scenario)/cad_models/10x6_door_right.dae
            CAD_2_color: [0.96, 0.17, 0.3]
        </rosparam>
	            
        # Plot 3D OccupancyGridmap
        <param name="occupancy3D_data" value="$(find test_env)/$(arg scenario)/OccupancyGrid3D.csv" />

        # Plot gas sources
        <param name="number_of_sources" value="1"/>
        <param name="source_0_position_x" value="$(arg source_location_x)"/>
        <param name="source_0_position_y" value="$(arg source_location_y)"/>
        <param name="source_0_position_z" value="$(arg source_location_z)"/>
        <rosparam>
            source_0_scale: 0.2
            source_0_color: [0.0, 1.0, 0.0] 
        </rosparam>
    </node>
    
  
    ### Filament Simulator 01ms###
    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator" output="screen">
        <param name="verbose" value="false" />
        <param name="wait_preprocessing" value="false"/>    	 ### wait for the ok from preprocessing before starting the simulation
	    <param name="sim_time" value="300" />                    ### [sec] Total time of the gas dispersion simulation
	    <param name="time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
	    <param name="num_filaments_sec" value="10" />            ### Num of filaments released each second
	    <param name="variable_rate" value="true" />              ### If true the number of released filaments would be random(0,numFilaments_sec)
        <param name="ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
        <param name="filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
        <param name="filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
        <param name="filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
	    <param name="gas_type" value="0" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone
	    <param name="temperature" value="298"/>                  ### [Kelvins]
	    <param name="pressure" value="1"/>                       ### [Atm]
	    <param name="concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)	    	    	    	    
	    # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
	    <param name="occupancy3D_data" value="$(find test_env)/$(arg scenario)/OccupancyGrid3D.csv" />
	    <param name="fixed_frame" value="map"/>
	    
	    # WindFlow data (from CFD)
	    <param name="wind_data" value="$(find test_env)/$(arg scenario)/wind_simulations/$(arg simulation)/wind_at_cell_centers_" />
	    <param name="wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots
	    # Loop options
        <param name="/allow_looping" value="true" />
        <param name="/loop_from_step" value="0" />
        <param name="/loop_to_step" value="24" />
	    
	    # Location of the release point!
	    <param name="source_position_x" value="$(arg source_location_x)"/>            ### (m)
	    <param name="source_position_y" value="$(arg source_location_y)"/>            ### (m)
	    <param name="source_position_z" value="$(arg source_location_z)"/>            ### (m)
	    
	    <param name="save_results" value="1" />                  #1=true, 0=false
	    <param name="restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
	    <param name="results_min_time" value="0.0" />            #(sec) Time to start saving results to file
	    <param name="results_location" value="$(find test_env)/$(arg scenario)/gas_simulations/$(arg simulation)" />
    </node>

   
    # MAP SERVER
    <node pkg="map_server" type="map_server" name="map_server" args="$(find test_env)/$(arg scenario)/occupancy.yaml" />
  
    ### RVIZ ###
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find test_env)/$(arg scenario)/launch/ros/gaden.rviz"/>
 
</launch>
