<!-- DEMO mission file for GADEN filament simulator -->

<launch>  
    
    <arg name="FixedFrame" default="map" />

    ### NODE environment (for RVIZ visualization) ###
    <node pkg="gaden_environment" type="environment" name="environment" output="screen">	    
	    <param name="/fixed_frame" value="$(arg FixedFrame)"/>
        
        # Plot source positions
        <param name="/number_of_sources" value="3"/>    
	    <param name="/source_0_position_x" value="-2.5"/>
	    <param name="/source_0_position_y" value="-3.0"/>
	    <param name="/source_0_position_z" value="1"/>
	    
  	    <param name="/source_1_position_x" value="2.5"/>
	    <param name="/source_1_position_y" value="-3.0"/>
	    <param name="/source_1_position_z" value="1"/>
	    
   	    <param name="/source_2_position_x" value="0.5"/>
	    <param name="/source_2_position_y" value="-1.5"/>
	    <param name="/source_2_position_z" value="1"/>
   	    
	    # Plot CAD models
	    <param name="/occupancy3D_data" value="$(find gaden_demo)/demo/OccupancyGrid3D.csv" />
	    <param name="/number_of_CAD" value="5"/>
	    <param name="/CAD_0" value="package://gaden_demo/demo/CADmodels/MAPIRlab_furniture_walls_cad_model.dae"/>
	    <param name="/CAD_1" value="package://gaden_demo/demo/CADmodels/MAPIRlab_furniture_windows_cad_model.dae"/>
	    <param name="/CAD_2" value="package://gaden_demo/demo/CADmodels/MAPIRlab_furniture_doors_cad_model.dae"/>
	    <param name="/CAD_3" value="package://gaden_demo/demo/CADmodels/MAPIRlab_furniture_tables_cad_model.dae"/>
	    <param name="/CAD_4" value="package://gaden_demo/demo/CADmodels/MAPIRlab_furniture_wardrobes_cad_model.dae"/>
    </node>
    
    
    
    ### NODE Filament Simulator ###
    <node pkg="gaden_filament_simulator" type="filament_simulator" name="filament_simulator1" output="screen">	    
			<param name="/sim_time" value="300" />                    ### [sec] Total time of the gas dispersion simulation
	    <param name="/time_step" value="0.1" />                   ### [sec] Time increment between snapshots. Set aprox = cell_size/max_wind_speed.
	    <param name="/num_filaments_sec" value="10" />            ### Num of filaments released each second	   
        <param name="/ppm_filament_center" value="10"/>           ### [ppm] Gas concentration at the center of the 3D gaussian (filament)
        <param name="/filament_initial_std" value="10"/>          ### [cm] Sigma of the filament at t=0-> 3DGaussian shape
        <param name="/filament_growth_gamma" value="10"/>         ### [cm²/s] Growth ratio of the filament_std
        <param name="/filament_noise_std" value="0.02"/>          ### [m] Range of the white noise added on each iteration
	    <param name="/gas_type" value="0" />                      ### 0=Ethanol, 1=Methane, 2=Hydrogen, 6=Acetone
	    <param name="/temperature" value="298"/>                  ### [Kelvins]
	    <param name="/pressure" value="1"/>                       ### [Atm]
	    <param name="/concentration_unit_choice" value="1"/>      ### 0=molecules/cm3, 1=ppm (when ppm is used, set temp and pressure accordingly)	    	    	    	    
	    # In the occupancyGrid.csv file we set: cell_size, num_cells, etc. which come from the CFD wind simulation
	    <param name="/occupancy3D_data" value="$(find gaden_demo)/demo/OccupancyGrid3D.csv" />
	    <param name="/fixed_frame" value="$(arg FixedFrame)"/>
	    
	    # Path to wind simulations (from CFD)- In this demo we use just a static wind (just time-step = 0)
	    <param name="/wind_data" value="$(find gaden_demo)/demo/wind_at_cell_center_points_" />
	    <param name="/wind_time_step" value="1" />                ### (sec) time increment between Wind snapshots	    
	    
	    # Location of the release point!
	    <param name="/source_position_x" value="2.5"/>            ### (m)
	    <param name="/source_position_y" value="-3.0"/>           ### (m)
	    <param name="/source_position_z" value="1.5"/>            ### (m)
	    
	    <param name="/save_results" value="1" />                  #1=true, 0=false
	    <param name="/restuls_time_step" value="0.5" />           #(sec) Time increment between saving state to file
	    <param name="/results_min_time" value="0.0" />            #(sec) Time to start saving results to file
	    <param name="/results_location" value="$(find gaden_demo)/demo/logs_gas_dipersion_simulator" />
    </node>
 
  
  ### RVIZ ###
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find gaden_demo)/demo/gaden_filament_simulator.rviz"/>
  
</launch>
