<!-- Mission file for GADEN preprocessing
    ROS - KINETIC
-->

<launch>
    <arg name="scenario" default="10x6_snake" />
    
    <node pkg="gaden_preprocessing" type="preprocessing" name="preprocessing" output="screen" >
         
        #Cell size
        <param name="cell_size" value="0.1"/>    
        
        #CAD models of the enviroment (.stl)
        <param name="number_of_models" value="1"/>
        <param name="model_0" value="$(find test_env)/$(arg scenario)/cad_models/10x6_walls.stl"/>
                
        #CAD model of the outlets (.stl)
        <param name="number_of_outlet_models" value="2"/>
        <param name="outlets_model_1" value="$(find test_env)/$(arg scenario)/cad_models/10x6_door_left.stl"/>
        <param name="outlets_model_0" value="$(find test_env)/$(arg scenario)/cad_models/10x6_door_right.stl"/>
        
        #3D Location of a point in free-space
        <param name="empty_point_x" value="1.0"/>      ### (m)
        <param name="empty_point_y" value="1.0"/>      ### (m)
        <param name="empty_point_z" value="0.5"/>      ### (m)
            

        <param name="worldFile" value="$(find test_env)/$(arg scenario)/launch/ros/stage.world"/>      ### leave empty if you dont want it to be automatically modified
        
        #Wind Data (the node will append _i.csv to the name that is specified here)
        <param name="wind_files" value="$(find test_env)/$(arg scenario)/wind_simulations/05ms/wind_at_cell_centers"/>

        #Where to write the output files
        <param name="output_path" value="$(find test_env)/$(arg scenario)" />
    </node>
</launch>

